@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form class="">
    <label>Something
    <input type="text" class="input-sm" placeholder="Enter something">
  </label>

  <label>Something
  <input type="text" class="input-sm" placeholder="Enter something">
</label>

<label>Something
<input type="text" class="input-sm" placeholder="Enter something">
</label>

<label>Something
<input type="text" class="input-sm" placeholder="Enter something">
</label>
</form>

<br>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
